* {
    margin: 0;
    padding: 0;
}

body {
    color: #353554 !important;
}


/* Generales */


h3 {
    margin-left: 120px;
}

h4 {
    text-align: center;
}

.centrar {
    text-align: center;
}

.margenArriba {
    margin-top: 50px;
}

/* Seccion Navbar */

.navBar_bg{
     
    z-index: 1;
    position: absolute;
    
    }

.bg-light {
        background-color: transparent !important;
        opacity: 0;
        
}
  
ul li a {
    color: white !important;
    
    font-size: 19px;
    line-height: 20px;
}

/* Seccion Portada */


.img-portada-home {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/fondohome.png);
    height: 650px;
    width: 100%;
    background-size: cover;
    margin-top: -50px;
}




.texto_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    margin-top: -500px;
    color:white;
}


/* Seccion Productos */

.nuestros-productos{

    margin-left: 122px;
    margin-top: 50px;
    size: 80px;
    line-height: 40px;

}

.ubicacionCard {
    margin: 0 auto;
}

.btn-dark {
    background-color: #353554 !important;
}

.card{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   
}


/* Seccion Caracteristicas */

.experiencia{
    margin: 50px;
}



.ubicacionCaract {
    justify-content: center;
}





/* Seccion Clientes */

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.contenedor-fondo {
    display: flex;
    justify-content: space-around;
    
}

.ubicacionCaract {
    color: white;
    font-weight: 20;
    font-size: 25px;
    line-height: 70px;
    position: absolute;
    z-index: 1;
    padding-top: 150px;
    padding-left: 50px;
}

.clientes_bg {
    padding: 2rem;
    margin: 2rem 0;
}

.padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex_space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*Contacto*/

.contenedor-contacto {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.mapa {
    width: 473px;
    height: 323px;
}

.redes-contacto {
    text-align: center;
    padding-bottom: 30px;
}

.redes-contacto p {
    font-weight: 600;
    size: 25px;
    line-height: 29px;
}

.redes-contacto i {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0em 0.3em;
}


/* Footer */

footer {
    background-color: #353554;
    color: white;
}

.cajaFooter {
    padding-top: 50px;
    height: 45vh;
}