//Propiedades iniciales 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.splash{
    width: 100%;
    //  height: 100vh;
   position: absolute;
   z-index: 1000;


//    @media screen and (max-width: 576px){
//     display: none;
//     background-image: url("../../image/cancha_completa.png");
// }
// @media screen and (min-width: 576px) and (max-width:768px){
//     // flex-direction: column-reverse;
//     display: none;
//     background-color: blue;
//  }
//  @media screen and (min-width: 768px) and (max-width:992px){
//     // flex-direction: column-reverse;
//     background-color: brown;
//     display: none;
//  }
}

#video-intro{
    height: 100vh;
}

.enter_link{
    color: yellow;
    //position: absolute;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

    font-size: 2.5rem;
    font-weight: bold;

    position: absolute;
    margin-top: 26rem;
    margin-left: 45% ;
    z-index: 1000;
}