//Propiedadesd el footer
.footer_bg{
    //background-image: url("/image/footer.png");
    background-color: #FFFFFF;
    padding: 2rem;
    height: 9.25rem;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 0.75rem;
    text-align: center;

    @media screen and (max-width: 576px){
        height: 6rem;
    }
     @media screen and (min-width: 576px) and (max-width:768px){
        height: 7rem;
    }
    //   @media screen and (min-width: 768px) and (max-width:992px){
    //     height: 6rem;
    // }
}

.flex_footer{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.logo_footer{
    width: 5%;
  
}

.etiqueta{
    //display: inline-block;
  //max-width: 10rem;
  white-space: nowrap;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding-bottom: 2rem;
    

}

.footer_links{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
    padding-bottom:  1rem;
    @media screen and (max-width: 576px){
        display: none;
    }
     @media screen and (min-width: 576px) and (max-width:768px){
        display: none;
    }
      @media screen and (min-width: 768px) and (max-width:992px){
        display: none;
    }
}