.navBar_bg {
    //background-image: url("/image/navbar_bg.png");
    background-color: white;
    // height: 4.6875rem;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
}

// .margin_derecho{
//     @media screen and (max-width: 576px){

//         margin-left: 0rem;
// }
//     @media (min-width: 992px) {

//         margin-left: 100%;
//     }

// }

//.container-fluid {
    // padding-left: 2.8175rem !important;
    // padding-right: 2.5rem !important;
//}

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
    width: 7.9rem !important;
}

.nav-link.active {
    color: #CF6C69 !important;
    font-weight: bold;
    padding-left: 2.12875rem !important;
    padding-right: 2.12875rem !important;
}

.nav-link {
    color: #000000 !important;
    padding-left: 2.12875rem !important;
    padding-right: 2.12875rem !important;
}

.nav-item.margin_derecho {
    margin-left: 12% !important;

    @media screen and (max-width: 992px) {

        margin-left: 0rem !important;
    }

}

.nav_link_contacto {
    padding: 0 !important;
    text-decoration: none;
    color: #000000;
    font-weight: normal;
}

.boton_contacto {
    width: 9.140625rem;
    height: 2.5625rem;
    border-radius: 0.125rem;
    border: none;
    background-color: #CF6C69;

    & :hover {
        color: #000000;
    }

    @media screen and (max-width: 576px) {

        margin-left: 0rem;
    }

    @media (min-width: 992px) {

        margin-left: 50%;
    }

}

.nav_link_contacto_activo {
    padding: 0 !important;
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: bold;
}

.boton_contacto_activo {

    width: 9.140625rem;
    height: 2.5625rem;
    border-radius: 0.125rem;
    border: none;
    background-color: #333452;

    & :hover {
        color: rgb(253, 253, 253);
    }
}